<!-- Page Content -->
<div class="container">

  <div style="margin-top: 1.5rem!important" class="row">

    <h1 class="my-4">Add Product</h1>


    <div class="col-lg-9">

      <form action="#" style="margin-top: 1.5rem!important; margin-left: 1.5rem!important">
        <div class="form-group">
          <label for="productName">Product Name:</label>
          <input type="text" class="form-control" id="pname" >
        </div>
        <br />

        <div class="form-group">
            <label for="productLine">Product Line:</label>
            <input type="text" class="form-control" id="pline">
        </div>
        <div class="form-group">
          <label for="productScale">Product Scale:</label>
          <input type="text" class="form-control" id="pscale">
        </div>
        <div class="form-group">
          <label for="productVendor">Product Vendor:</label>
          <input type="text" class="form-control" id="pvendor">
        </div>
        <div class="form-group">
          <label for="productDescription">Product Description:</label>
          <input type="text" class="form-control" id="pdes">
        </div>
        <div class="form-group row">
          <div class="col-5">
            <label for="quantity">Quantity in Stock:</label>
            <input type="text" class="form-control" id="pquan">
          </div>
          <div class="col-5">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="pprice">
          </div>
        </div>

        <div class="form-group">
          <label for="msrp">MSRP:</label>
          <input type="text" class="form-control" id="msrp">
        </div>

        

        <div class="form-group row">
          <div class="col-5">
              <button type="submit" class="btn btn-default" style="background-color:gray;color:white">Add</button>
          </div>
          <div class="col-5">
              <button type="submit" class="btn btn-default" style="background-color:gray;color:white">Cancel</button>
          </div>
        </div>

      </form>
      </br>
      </br>
      </br>
      </br>


    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<script src="/main_script/stock_in.js"></script>
<script>
  
</script>