<!-- Page Content -->
<div class="container">

  <div style="margin-top: 1.5rem!important" class="row">

    <h1 class="my-4">Create Discount Code</h1>


    <div class="col-lg-9">

      <form action="#" style="margin-top: 1.5rem!important; margin-left: 1.5rem!important">
        <div class="form-group">
          <label for="productCode">Discount Code:</label>
          <input type="text" class="form-control" id="code" >
        </div>
        <br />

        <div class="form-group">
          <label for="productName">Discount Amount:</label>
          <input type="text" class="form-control" id="amnt" >
        </div>
        <br />

        <div class="form-group">
            <label for="productLine">Number of usable time:</label>
            <input type="text" class="form-control" id="num">
        </div>
        <div class="form-group">
          <label for="productScale">Minimum price:</label>
          <input type="text" class="form-control" id="min">
        </div>
        <div class="form-group">
          <label for="productVendor">Expire date:</label>
          <input type="text" class="form-control" id="exp">
        </div>

        <div class="form-group row">
          <div class="col-5">
              <button type="submit" id="add_click" class="btn btn-default" style="background-color:gray;color:white">Add</button>
          </div>
        </div>

      </form>
      </br>
      </br>
      </br>
      </br>


    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<script src="/main_script/discountCode.js"></script>