<br>
<center><div style="background-color:darkgray; width:900px;height:625px;padding: 40px;" >
    <br>
    <h2>Order</h2>
    <svg height="30" width="700">
        <line x1="0" y1="0" x2="700" style="stroke:black;stroke-width:2" />
    </svg>
    <div align="left">
        <font size="4" style="padding-left:100px;" >Product Name: Name</font><br><br>
        <font size="4" style="padding-left:100px">Amount: money</font><br><br>
        <font size="4" style="padding-left:100px">Preferred shipping: addr</font><br><br>
        <font size="4" style="padding-left:100px">Total price: money</font><br><br>
        <font size="4" style="padding-left:100px">Discount code: code</font><br><br>
        <font size="4" style="padding-left:100px">Discount price: money</font><br><br>
    </div>
    <svg height="30" width="700" style="align-content: center;">
        <line x1="0" y1="0" x2="700" style="stroke:black;stroke-width:2" />
    </svg>
    <div style="background-color: goldenrod; width:320px;height:80px;padding:10px;">
        <font size="3">Discount code&nbsp;&nbsp;</font>
        <input type="text" name="discount code" style="width:150px;font-size:20px;padding:5px;text-align:center" maxlength="5">
    </div>
    <button style="width:150px;font-size:20px;padding:5px;text-align:center;">Purchase</button>
    
</div></center>
<br>