
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4" id="vendor">Product Categorized by</h1>
            <div class="list-group">
                <p class="list-group-item">Vendor</p>
                <ul id="vendorList">
                </ul>
                <p class="list-group-item">Scale</p>
                <ul id="scaleList"></ul>
            </div>

        </div>
        <!-- /.col-lg-3 -->
้
        <div class="col-lg-9">
            
            <div class="row" id="product">
                
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>

<script src="/main_script/stock_in.js"></script>

